* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
}

.navbar ul {
    display: flex;
    margin-left: 90px;
}

.navbar li {
    list-style: none;
    margin: 10px 10px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: red;
}

.search {
    color: white;
    padding: 12px 75px;
    margin-left: 400px;
}

.navbar input {
    border: 2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
}


/* --------------------------------- main section home--------------------  */

.container-main {
    background-color: bisque;
    text-align: center;
}

.imagemain {
    width: 250px;
    height: 200px;
}

.data {
    width: 350px;
    height: auto;
    background-color: aqua;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

.category {
    font-size: 15px;
    text-transform: capitalize;
}

.desc {
    font-size: 15px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: -32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.price {
    font-size: 15px;
    text-transform: capitalize;
}

.rating {
    font-size: 15px;
    text-transform: capitalize;
}